---
name: CodeChecks
on:
  push:
    paths:
      - ".github/workflows/codeChecks.yml"
      - "devenv.*"
      - "cmd/**"
      - "internal/**"
      - "pkg/**"
      - "*.go"
      - "go.*"

jobs:

  code_checks:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.25']

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test -v ./...

      - name: Check for vulnerabilities
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: ${{ matrix.go-version }}
          go-package: ./...
          work-dir: .

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_GORELEASER_TOKEN }}

      - uses: cachix/cachix-action@v16
        with:
          name: devenv

      - name: Install devenv.sh
        run: nix profile add nixpkgs#devenv

      - name: Build the devenv shell and run any pre-commit hooks
        run: devenv test
        timeout-minutes: 15
